<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=460" />
	<title>{text}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <style>
        .full-height,body,html{height:100vh}body,html{background-color:#fff;color:#636b6f;font-family:Raleway,sans-serif;font-weight:100;margin:0}.flex-center{align-items:center;display:flex;justify-content:center}.position-ref{position:relative}.top-right{position:absolute;right:10px;top:18px}#disabled h2,.content{text-align:center}.title{font-size:84px}.links>a{color:#636b6f;padding:0 25px;font-size:12px;font-weight:600;letter-spacing:.1rem;text-decoration:none;text-transform:uppercase}.m-b-md{margin-bottom:30px}#disabled{padding:10px;margin:0;background:#a00;border:10px solid #000;color:#fff;text-align:left}#disabled a:link,#disabled a:visited{text-decoration:underline;color:#fff}#disabled a:hover{text-decoration:underline;color:#faa}
    </style>
</head>

<body>
	<div id="disabled">
		<h2>{text}</h2>
		<p>Warning: This URL has been blocked as potentially harmful. Most likely this link was being used maliciously or was used in spam. Please be careful when visiting links you receive from somebody you don't know.</p>
		<p>We recommend you close your browser window and notify the person who sent you the link.</p>

		<h2>Why was this link blocked?</h2>
		<p>We displays this warning when a link has been blocked. There are many reasons why a link may be blocked:</p>
		<ul>
			<li>The link may be listed on a website blocklisting service.</li>
			<li>The link may have been reported by a member of the public.</li>
			<li>The link may contain malware (software designed to harm your computer), attempt to collect your personal information for nefarious purposes, or otherwise contain harmful and/or illegal content.</li>
			<li>The link may be attempting to hide the final destination.</li>
			<li>The link may lead to a forgery of another website or may infringe the rights of others.</li>
		</ul>
	</div>
</body>

</html>