/vendor/
/node_modules/

.env
.env.*
!.env.example

/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/storage
/public/build
/public/hot
/public/css
/public/js
/public/mix-manifest.json
/public/video/

/public/vendors/
/public/admin-panel/plugins/
/public/admin-panel/vendors/

/.phpunit.cache
.phpunit.result.cache
/.cache

npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
package-lock.log

/.idea
/.vscode

error_log
composer.phar
composer-setup.php
.ftpquota



/public/uploads/
/public/img/**/*.zip
/public/video.zip
/public/*.mp4
/public/uploads/**/*.mp4
/public/uploads/**/*.zip
/public/uploads/**/*.xlsx
/public/uploads/**/*.xlsm
/public/uploads/**/*.pdf
/public/uploads/**/*.docx
/public/uploads/**/*.gif
.DS_Store
**/.DS_Store
/public/phpinfo.php



/public/files/
/public/uploads/
/public/gallery_images/
/public/img/Yourexcel-img/
*.zip
*.mp4
*.docx
*.xlsx
*.xlsm
*.amr
*.heic
*.tif
*.DS_Store

/public/img/Yourexcel-img_old/